{# empty Twig template #}
{% extends "base.html.twig" %}

{% block body %}
    <!-- div container -->
    <div class="container">
        <!-- div project display panel -->
        <div class="row drop-top drop-bottom">

            <!-- project list -->
            <div id="project-list" class="col-4 drop-top">
                <div class="list-group" id="list-tab" role="tablist">
                    <!-- investigate how we can add object directly from session 
                    into twig -->
                    {% for project in project_searched %} 
                        {% for proj in project %}                            
                            <a href="" class="list-group-item list-group-item-action flex-column align-items-start active" id="load_side_page">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ proj.projectTopic }}</h5>
                                </div>
                                <small>{{ proj.department }}</small>
                                <small>{{ 'May, 1990' }}</small>
                                {% for keyword in proj.keywords %}
                                    <span class="badge badge-light">{{ keyword }}</span>
                                {% endfor %}
                            </a>                            
                        {% endfor %}
                    {% endfor %}                    
                </div>
            </div>
            <!-- end #project-list -->

            <!-- project details display -->
            <div id="project-details" class="col-8 drop-top">
                <!-- enter the contents of the project here. -->
                <div class="row">
                	{% for project in project_searched %}
                		{% for proj in project %}
                            <div id="{{ 'id_'~loop.index0 }}" class="blog-post hide">                        
                                {% include "default/render_content.html" %}                        
                            </div><!-- /.blog-post -->
                        {% endfor %}
                    {% endfor %}
                </div>                
            </div>
            <!-- end #project-details -->

        </div>
    </div>
    <!-- end .container -->
{% endblock %}

{% block javascripts %}{% endblock %}
